@import url('https://n11.dev/fonts/jbm.css');

/* Theming */
:root {
  --background: black;
  --foreground: #19191a;
  --font-primary: white;
  --font-secondary: black;
  --font-disabled: #aaa;
  --button-primary: white;
  --button-secondary: #242424;
  --button-disabled: #141414;
}

/* :root {
  --background: white;
  --foreground: #f0f0f0;
  --font-primary: black;
  --font-secondary: white;
  --font-disabled: #888;
  --button-primary: black;
  --button-secondary: #ddd;
  --button-disabled: #c0c0c0;
} */

/* General */
* {
  margin: 0;
  user-select: none;
  cursor: normal;
}

body {
  background-color: var(--background);
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
}

body>div.center {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--foreground);
  color: var(--font-primary);
  font-family: 'JetBrains Mono', monospace;
  padding: 1.5rem;
  border-radius: 5px;
  gap: 1rem;
  width: 20rem;
}

/* Title */
span.title {
  font-size: 14pt;
}

/* Buttons */
div.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

div.buttons>a.button {
  width: 100%;
  flex: 1;
}

a.button {
  background-color: var(--button-primary);
  color: var(--font-secondary);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

a.button.secondary {
  background-color: var(--button-secondary);
  color: var(--font-primary)
}

a.button.disabled {
  background-color: var(--button-disabled);
  color: var(--font-disabled);
  cursor: not-allowed;
}

/* Account List */
div.account-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.account-list>div.account {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--button-secondary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

div.account-list>div.account>img {
  width: 50px;
  pointer-events: none;
}

div.account-list>div.account>div.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

div.account>div.info>span.name {
  font-size: 12pt;
  font-weight: bold;
}

div.account>div.info>span.email {
  font-size: 11pt;
}

/* Inputs */
div.input {
  display: flex;
  background-color: var(--button-secondary);
  gap: 1rem;
  color: var(--font-primary);
  font-size: 14pt;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

div.input>input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: var(--font-primary);
  font-size: 14pt;
}

div.input>svg {
  min-width: 18pt;
}

/* Spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: relative;
  width: 20px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid var(--button-primary);
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}