@import url('/fonts/jbm.css');

* {
  margin: 0;
}

*:not(input[type="text"]) {
  user-select: none;
}

body {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  color: #ffffff;
  background-color: #000000;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  font-family: 'JetBrains Mono', monospace;
  top: 1rem;
  right: 1rem;
}

.language {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: 'JetBrains Mono', monospace;
  color: #1c1917;
}

.language select {
  color: #1c1917;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
}

.container {
  position: relative;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.025);
  transition: box-shadow 0.2s ease-in-out;
  z-index: 10;
}

.container > input[type="text"] {
  height: 36px;
  width: 500px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'JetBrains Mono', monospace;
  border: none;
  font-size: large;
  color: #1c1917;
  outline: 0;
}

.container > input[type="text"]::placeholder {
  color: #a9a9a9;
}

.container > .suggestions {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  font-size: large;
  color: #5e5e5e;
  outline: 0;
}

.suggestion {
  padding: 5px 15px;
  cursor: pointer;
}

.suggestion>span>span {
  color: #1c1917;
}

@media (max-width: 768px) {
  
  .container {
    width: 80%;
  }

  .container > input[type="text"] {
    width: 90%;
  }

}