@import url('https://fonts.googleapis.com/css2?family=JetBrains Mono&display=swap');

* {
  margin: 0;
}

*:not(input[type="text"]) {
  user-select: none;
}

body {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: none;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.025);
  transition: box-shadow 0.2s ease-in-out;
}

.container > input[type="text"] {
  height: 36px;
  width: 500px;
  padding: 5px 15px;
  border-radius: 10px;
  font-family: 'JetBrains Mono', monospace;
  border: none;
  font-size: large;
  color: #1c1917;
  outline: 0;
}

.container > .suggestions {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  font-size: large;
  color: #5e5e5e;
  outline: 0;
}

.suggestion {
  padding: 5px 15px;
}

.suggestion>span>span {
  color: black;
}