@import url('/fonts/jbm.css');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #f8f8f8;
    margin: 0;
}

body>.info {
    margin-left: 6rem;
    color: #5e5e5e;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 6rem;
    margin-top: 2rem;
    color: #5e5e5e;
}

.result {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.result > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    max-width: fit-content;
}

.result .url {
    font-size: 14px;
    color: #5e5e5e;
    text-decoration: none;
    max-width: fit-content;
    font-style: normal;
}

.result .url  .path {
    color: invert(#ffffff);
}

.result .title {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.result .description {
    font-size: 14px;
    color: #5e5e5e;
    max-width: 600px;
    text-decoration: none;
}

.result > a:hover > .title {
    text-decoration: underline;
}

.navbar {
    display: flex;
    padding: 1rem 6rem;
    background: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.025);
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.container {
    position: relative;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.025);
    transition: box-shadow 0.2s ease-in-out;
    z-index: 10;
}
  
.container > input[type="text"] {
    height: 36px;
    width: 500px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    font-size: large;
    color: #1c1917;
    outline: 0;
}
  
.container > input[type="text"]::placeholder {
    color: #a9a9a9
}
  
.container > .suggestions {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    border: none;
    font-size: large;
    color: #5e5e5e;
    background-color: #ffffff;
    outline: 0;
    position: absolute;
    top: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.025);
}
  
.suggestion {
    padding: 5px 15px;
    cursor: pointer;
}
  
.suggestion>span>span {
    color: #1c1917;
}

.pages {
    display: flex;
    gap: 1rem;
    margin: 2rem 6rem;
    color: #1c1917;
    max-width: 600px;
    justify-content: center;
}

.page {
    cursor: pointer;
    text-decoration: none;
    color: #5e5e5e;
}

span.page {
    color: #1c1917;
}

.page:hover {
    text-decoration: underline;
}

@media (max-width: 850px) {
    
    .profile {
        display: none;
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .results {
        margin: 1rem 1rem;
    }

    .info {
        margin: 1rem;
    }

    .navbar {
        padding: 1rem 1rem;
    }

    .container > input[type="text"] {
        width: 100%;
    }

}