@import url('/fonts/jbm.css');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: [background];
}

.results {
    display: flex;
    flex-direction: column;
}

.result {
    margin-bottom: 2rem;
}

.result {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

.result > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: fit-content;
}

.result .url {
    font-size: 14px;
    color: #bdc1c6;
    text-decoration: none;
    width: fit-content;
    font-style: normal;
}

.result .url  .path {
    color: #969ba1;
}

.result .title {
    font-size: 20px;
    color: #8ab4f8;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

.result .description {
    font-size: 14px;
    color: #bdc1c6;
    width: 600px;
    text-decoration: none;
}

.result > a:hover > .title {
    text-decoration: underline;
}